
<nav class="container navbar navbar-custom navigation navbar-default ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle navbar-button"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navcompanizer"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

                <li><a href="/home">Inserate</a></li>
                <li><a href="/profile">Mein Profil</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/hilfe">Hilfe</a></li>
                <li><a href="/spenden">Spenden</a></li>
                <li class="visible-xs"><a href="/registrieren">Jetzt registrieren!</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>
<div id="navigation-banner" class="hidden-xs">
    <div id="navigation-right">
        <img id="navigation-right-banner"
             src="resources/image/nav-bann-right2.png" alt="banner Navigation " />
    </div>
    <div id="navigation-left">
        <img id="navigation-left-banner"
             src="resources/image/nav-bann-left2.png" alt="banner Navigation " />
    </div>
</div>