.rounded_top {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.rounded_bot {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
body {
  font-family: "Arial" sans-serif;
  background-color: #f5f5f5;
  background: -moz-radial-gradient(center, #fff, #d9eaff);
  background: -webkit-radial-gradient(center, #fff, #d9eaff);
  background: -o-radial-gradient(center, #fff, #d9eaff);
  background: -ms-radial-gradient(center, #fff, #d9eaff);
  background: radial-gradient(center, #fff, #d9eaff);
}
@media (max-width: 767px) {
  .container {
    padding: 0px ! important;
  }
}
@media (max-width: 767px) {
  .row {
    margin: 0px ! important;
  }
}
.navigation {
  background-color: #1A1F8E ! important;
}
.nav > li > a {
  color: #151515 ! important;
  font-weight: bold;
}
@media (min-width: 767px) {
  .nav > li > a {
    color: #fff ! important;
  }
}
.nav > li > a:hover {
  background-color: #5868C8 ! important;
  color: #fff ! important;
}
.navcompanizer {
  background-color: #FAFAFA !important;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (min-width: 767px) {
  .navcompanizer {
    background-color: #1A1F8E ! important;
  }
}
#navigation-banner {
  height: 15px;
  margin-top: -20px;
}
#navigation-right {
  float: right;
}
#navigation-left {
  float: left;
}
#navigation-left img,
#navigation-right img {
  vertical-align: top;
}
.navbar-button {
  background-color: #fff ! important;
}
.navbar-button:hover,
.navbar-button:focus {
  background-color: #5868C8 ! important;
}
.maincontainer {
  background-color: #fff;
  padding-top: 20px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.content-wrapper {
  border-top: 1px solid black;
}
.top-buffer {
  padding: 10px;
  border: 2px solid #BDBDBD;
  border-bottom: none;
  background-color: #F2F2F2;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#kategorie {
  width: 220px;
  float: left;
}
.kategorien-content {
  border: 2px solid #BDBDBD;
  background-color: #F2F2F2;
}
.kategorie-banner {
  margin-left: -15px;
}
#kategorie-banner-image {
  width: 15px;
  height: 23px;
}
.companizer-short {
  margin-top: -23px;
  background-color: #F2F2F2;
  border: 2px solid #BDBDBD;
  border-top: none;
}
.inserat-wrapper {
  border-top: 1px solid #BDBDBD;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .inserat-content {
    padding-top: 20px;
  }
  .inserat-details {
    border-left: none !important;
    float: left;
  }
}
.inserat-content {
  padding-top: none;
}
.inserat-details {
  border-left: 1px solid #BDBDBD;
  float: right !important;
}
.nopadding {
  padding: 0 ! important;
}
.nopadding-left {
  padding-left: 0 ! important;
}
.nopadding-right {
  padding-right: 0 ! important;
}
.padding-top {
  padding-top: 20px;
}
.right-text {
  text-align: right;
  float: right;
}
